@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.cell {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  margin: -1px;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hit {
  color: red;
}
.miss {
  color: green;
}